.home-page-video-indexes {
	width: 1050px;
	margin: auto;
	background: #ffffff;
	box-sizing: border-box;
}

.featured-index, .watched-index, .recommended-index {
	border-bottom: 1px solid #e2e2e2;
	padding: 15px;
}

.popular-index {
	padding: 15px;
}

.recommended-index-title, .popular-index-title, .watched-index-title {
	font-size: 15px;
	font-weight: bold;
	padding-left: 5px;
	padding-bottom: 15px;
}

.featured-main {
	float: left;
	width: 600px;
	height: 220px;
	color: #666666;
}

.featured-main-link {
	display: block;
	float: left;
	width: 400px;
	height: 300px;
	margin-right: 10px;
}

.featured-main-link > img {
	width: 100%;
}

.featured-main-title {
	display: block;
	font-size: 13px;
	color: #167ac6;
}

.featured-main-title:hover {
	text-decoration: underline;
}

.featured-main-username {
	display: block;
}

.featured-main-views {
}

.featured-main-seperator {
	margin: 0 5px;
}

.featured-main-date {
}

.featured-video-list {
	width: 420px;
	float: right;
}

.featured-video {
	color: #666666;
	float: left;
	width: 100%;
	margin-bottom: 5px;
}

.featured-video-link {
	display: block;
	float: left;
	width: 125px;
	height: 70px;
	margin-right: 10px;
}

.featured-video-link > img {
	width: 100%;
}

.featured-video-title {
	display: block;
	font-size: 13px;
	color: #167ac6;
}

.featured-video-title:hover {
	text-decoration: underline;
}

.featured-video-username {
	display: block;
}

.featured-video-views {
}

.featured-video-seperator {
	margin: 0 5px;
}

.featured-video-date {
}

.popular-index-more {
	border: 1px solid #cccccc;
	background: #ffffff;
	width: 100px;
	height: 35px;
	padding: 5px;
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	display: block;
}

.popular-index-more:hover {
	cursor: pointer;
	background: #eeeeee;
}

.slick-slider {
	margin-bottom: 10px;
}

.slick-next::before {
	font-size: 24px;
	color: #222222;
}

.slick-prev::before {
	font-size: 24px;
	color: #222222;
}

.slider-container {
}

.slider-container img {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

.slider-element {
	padding: 5px;
	box-sizing: border-box;
	color: #666666;
}

.slider-element-title {
	display: block;
	font-size: 13px;
	color: #167ac6;
}

.slider-element-title:hover {
	text-decoration: underline;
}

.slider-element-username {
	display: block;
}

.slider-element-views {
}

.slider-element-seperator {
	margin: 0 5px;
}

.slider-element-date {
}
