.home-page-video-indexes {
	width: 1050px;
	margin: auto;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
}

.slider-container {
}

.slider-container img {
	width: 100%;
	height: auto;
}

.slider-element {
	padding: 5px;
	box-sizing: border-box;
}

.slider-element-title {
	display: block;
}

.slider-element-username {
	display: block;
}

.slider-element-views {
}

.slider-element-seperator {
	margin: 0 5px;
}

.slider-element-date {
}
