/* --- NAVBAR --- */

.navbar {
	background: #ffffff;
	padding: 10px 30px;
	border-bottom: 1px solid #e8e8e8;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
}

.navbar-cattube-logo {
	float: left;
}

.navbar-cat-logo {
}

.navbar-tube-logo {
}

.navbar-search-bar {
	float: left;
	margin-left: 100px;
	background: #cccccc;
}

.navbar-right {
	float: right;
}

.navbar-upload {
	display: block;
	float: left;
	padding: 7px 10px;
	border: 1px solid #d8d8d8;
	margin-right: 10px;
	font-weight: bold;
}

.navbar-user {
	float: left;
	padding: 7px 10px;
	color: #ffffff;
	background: #167ac6;
	border: 1px solid #d8d8d8;
	font-weight: bold;
}

.navbar-upload:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.navbar-user:hover {
	cursor: pointer;
	background: #126db3;
}

.header-block {
	width: 100%;
	height: 60px;
}
