/* --- NAVBAR --- */

.navbar {
	background: #ffffff;
	padding: 10px 30px;
	border-bottom: 1px solid #e8e8e8;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	z-index: 1;
	display: flex;
}

.navbar-cattube-logo {
	flex-shrink: 0;
}

.navbar-cat-logo {
}

.navbar-tube-logo {
}

.navbar-search-bar {
	flex-grow: 1;
	max-width: 600px;
	margin: auto;
	padding-right: 5px;
}

.navbar-search-input {
	width: 85%;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	padding: 5px;
}

.navbar-search-button {
	width: 15%;
	height: 30px;
	box-sizing: border-box;
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	background: #f0f0f0;
	text-align: center;
}

.navbar-search-button:hover {
	cursor: pointer;
	background: #dddddd;
}

.navbar-search-button > i {
	font-size: 14px;
	color: #555555;
}

.navbar-right {
	margin-left: auto;
	flex-shrink: 0;
}

.navbar-upload {
	display: block;
	float: left;
	padding: 7px 10px;
	border: 1px solid #d8d8d8;
	margin-right: 10px;
	font-weight: bold;
}

.navbar-user {
	float: left;
	padding: 7px 10px;
	color: #ffffff;
	background: #167ac6;
	border: 1px solid #d8d8d8;
	font-weight: bold;
}

.navbar-upload:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.navbar-user:hover {
	cursor: pointer;
	background: #126db3;
}

.header-block {
	width: 100%;
	height: 60px;
}
