.search-page {
	width: 700px;
	margin: auto;
	background: #ffffff;
	box-sizing: border-box;
}

.search-index {
	padding: 15px;
}

.search-index-total {
	display: block;
	text-align: right;
	color: #666666;
	font-size: 12px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e2e2e2;
}

.search-index-results {
}

.search-index-result {
	color: #666666;
	margin-bottom: 15px;
	font-size: 13px;
	height: 115px;
	overflow: hidden;
}

.search-index-result-link {
	display: block;
	float: left;
	margin-right: 10px;
	width: 210px;
}

.search-index-result-link > img {
	width: 100%;
}

.search-index-result-title {
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #167ac6;
}

.search-index-result-title:hover {
	text-decoration: underline;
}

.search-index-result-username {
	display: block;
}
.search-index-result-seperator {
	margin: 0 5px;
}

.search-index-result-description {
	margin-top: 5px;
	display: block;
}

.search-index-buttons {
	text-align: center;
}

.search-index-buttons > button {
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	background: #f0f0f0;
	text-align: center;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 11px;
}

.search-index-buttons > button:hover {
	cursor: pointer;
	background: #dddddd;
}

.search-index-buttons > .selected {
	background: #aaaaaa;
}

.search-index-buttons > .selected:hover {
	background: #aaaaaa;
}

.search-index-button {
	width: 30px;
	height: 30px;
}

.search-index-prev {
	width: 75px;
	height: 30px;
}

.search-index-next {
	width: 55px;
	height: 30px;
}
