// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;

	font: inherit;
	background: transparent;
	color: inherit;

	box-sizing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	vertical-align: inherit;
}

/* --- ELEMENTS --- */

body {
	background: #eeeeee;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.1666666666;
}

ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/* --- CLEARFIX --- */

.group:after {
	content: "";
	display: block;
	clear: both;
}

/* --- APPLICATION WIDE --- */

.logo-cattube {
	font-size: 18px;
	transform: scale(.85, 1.25);
}

.logo-cat {
	float: left;
	font-weight: bold;
	line-height: 25px;
}

.logo-tube {
	float: left;
	color: #ffffff;
	border-radius: 20%;
	background: #dd0000;
	padding: 2px 5px;
	margin-left: 2px;
}
