.upload-page {
	width: 800px;
	background: #f7f7f7;
	margin: auto;
	padding: 15px;
}

.upload-page-text {
	color: #555555;
	font-size: 18px;
	margin-bottom: 10px;
	text-align: left;
}

.upload-page-status {
	display: block;
}

.upload-page-video-element {
	margin-bottom: 10px;
}

.upload-page-video {
	color: #555555;
}

.upload-page-file-errors {
	font-size: 12px;
	display: block;
}

.upload-page-title-label {
	color: #555555;
	font-size: 15px;
	text-align: left;
}

.upload-page-title {
	display: block;
	color: #000000;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	background: #ffffff;
}

.upload-page-title-errors {
	font-size: 12px;
	display: block;
}

.upload-page-description-label {
	color: #555555;
	font-size: 15px;
	text-align: left;
}

.upload-page-description {
	display: block;
	color: #000000;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	background: #ffffff;
}

.upload-page-description-errors {
	font-size: 12px;
	display: block;
}

.upload-page-submit {
	padding: 7px 10px;
	color: #ffffff;
	background: #3079ed;
	border: 1px solid #d8d8d8;
	font-weight: bold;
	margin: auto;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	height: 40px;
	border-radius: 5px;
}

.upload-page-submit:hover {
	cursor: pointer;
	background: #167ac6;
}

.upload-page-submit:disabled {
	cursor: default;
	background: #aaaaaa;
}
