/* --- VIDEO PAGE --- */

.video-page {
	width: 1100px;
	margin: auto;
}

.video {
}

.video-player {
	width: 640px;
	height: 360px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.video-bar {
	margin-bottom: 10px;
}

.video-bar-main {
	width: 640px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.video-bar-title {
	font-size: 20px;
	margin-bottom: 10px;
}

.author {
	float: left;
	margin-bottom: 10px;
}

.thumb-icon, .blank-icon {
	float: left;
	width: 50px;
	height: 50px;
	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	margin-right: 10px;
}

.author-name {
	float: right;
	font-size: 16px;
}

.video-bar-views {
	float: right;
	font-size: 20px;
	color: #666666;
	margin-top: 25px;
}

.video-bar-top {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}

.likes {
	float: right;
}

.likes-bar-total {
	width: 150px;
}

.likes-bar-fill {
	float: left;
	background: #167ac6;
	height: 2px;
}

.likes-bar-empty {
	float: right;
	background: #cccccc;
	height: 2px;
}

.likes-bar-updown {
	padding: 2px;
	float: left;
	color: #aaaaaa;
}

.likes-up {
	float: left;
	margin-right: 40px;
}

.likes-up > .fa-thumbs-up {
	font-size: 20px;
}

.likes-down {
	float: left;
}

.likes-down > .fa-thumbs-down {
	font-size: 20px;
}

.video-bar-likes {
}

.video-bar-other {
	width: 640px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
}

.video-bar-date {
	font-weight: bold;
}

.comment-index {
	width: 640px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
}

.comment-size {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #555555;
	margin-bottom: 10px;
}

.add-comment {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}

.add-comment-status {
	display: block;
}

.add-comment-textarea-errors {
	display: block;
}

.add-comment-textarea {
	border: 1px solid #cccccc;
	background: #ffffff;
	width: 610px;
	height: 50px;
	box-sizing: border-box;
}

.add-comment-post {
	float: right;
	padding: 7px 10px;
	color: #ffffff;
	background: #167ac6;
	border: 1px solid #d8d8d8;
	font-weight: bold;
}

.add-comment-post:hover {
	cursor: pointer;
	background: #126db3;
}

.comment {
	padding: 10px;
}

.comment-top {
	padding-bottom: 5px;
}

.comment-username {
	margin-right: 5px;
	color: #128ee9;
	font-weight: bold;
}

.comment-date {
	font-size: 10px;
	color: #555555;
}

.sub-comments {
	margin-left: 40px;
}

.sub-comments-unhide {
	font-weight: bold;
	color: #167ac6;
}

.sub-comments-unhide:hover {
	text-decoration: underline;
}
