/* --- VIDEO PAGE --- */

.video-page {
	position: relative;
	width: 1050px;
	margin: auto;
}

.video {
	float: left;
}

.video-player {
	width: 640px;
	height: 360px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.video-bar {
	float: left;
	margin-bottom: 10px;
}

.video-bar-main {
	float: left;
	width: 640px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.video-bar-title {
	font-size: 20px;
	margin-bottom: 10px;
}

.author {
	float: left;
	margin-bottom: 10px;
}

.thumb-icon, .blank-icon {
	float: left;
	width: 50px;
	height: 50px;
	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	margin-right: 10px;
}

.author-name {
	float: right;
	font-size: 16px;
}

.video-bar-views {
	float: right;
	font-size: 20px;
	color: #666666;
	margin-top: 25px;
}

.video-bar-top {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
}

.likes {
	float: right;
}

.likes-bar-total {
	width: 150px;
	margin-bottom: 5px;
}

.likes-bar-fill {
	float: left;
	background: #167ac6;
	height: 2px;
}

.likes-bar-empty {
	float: right;
	background: #cccccc;
	height: 2px;
}

.likes-bar-updown {
	padding: 2px;
	float: right;
	color: #aaaaaa;
	font-size: 10px;
}

.likes-up {
	float: left;
	margin-right: 20px;
}

.likes-up:hover, .likes-down:hover {
	cursor: pointer;
}

.likes-up > .fa-thumbs-up, .likes-down > .fa-thumbs-down {
	font-size: 16px;
}

.likes-down {
	float: left;
}

.video-bar-likes {
}

.video-bar-other {
	float: left;
	width: 640px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
}

.video-bar-date {
	font-weight: bold;
}

.comment-index {
	float: left;
	width: 640px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
}

.comment-size {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #555555;
	margin-bottom: 10px;
}

.add-comment {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
}

.add-comment-status {
	display: block;
}

.add-comment-textarea-errors {
	display: block;
}

.add-comment-textarea {
	border: 1px solid #cccccc;
	background: #ffffff;
	width: 610px;
	height: 50px;
	box-sizing: border-box;
	padding: 5px;
}

.add-comment-post {
	float: right;
	padding: 7px 10px;
	color: #ffffff;
	background: #167ac6;
	border: 1px solid #d8d8d8;
	font-weight: bold;
}

.add-comment-post:hover {
	cursor: pointer;
	background: #126db3;
}

.comment {
	padding: 10px;
}

.comment-top {
	padding-left: 60px;
	position: relative;
	min-height: 50px;
}

.comment-avatar {
	top: 0;
	left: 0;
	position: absolute;
}

.comment-username {
	margin-right: 5px;
	color: #128ee9;
	font-weight: bold;
}

.comment-date {
	font-size: 10px;
	color: #555555;
}

.comment-delete {
	float: right;
	padding: 2px;
	color: #555555;
	border: 1px solid #d8d8d8;
	font-size: 10px;
}

.comment-delete:hover {
	background: #cccccc;
	cursor: pointer;
}

.comment-body {
	margin-bottom: 5px;
}

.reply-comment-unhide {
	color: #aaaaaa;
}

.reply-comment-unhide:hover {
	color: #555555;
}

.reply-comment {
}

.reply-comment-status {
	display: block;
}

.reply-comment-textarea-errors {
	display: block;
}

.reply-comment-textarea {
	border: 1px solid #cccccc;
	background: #ffffff;
	width: 530px;
	height: 50px;
	box-sizing: border-box;
	padding: 5px;
}

.reply-comment-post {
	float: right;
	padding: 7px 10px;
	color: #ffffff;
	background: #167ac6;
	border: 1px solid #d8d8d8;
	font-weight: bold;
}

.reply-comment-post:hover {
	cursor: pointer;
	background: #126db3;
}

.reply-comment-close {
	float: right;
	padding: 0 5px;
	color: #555555;
	border: 1px solid #d8d8d8;
	font-weight: bold;
}

.reply-comment-close:hover {
	background: #cccccc;
	cursor: pointer;
}

.sub-comments {
	margin-left: 40px;
}

.sub-comments-unhide {
	display: block;
	font-weight: bold;
	color: #167ac6;
}

.sub-comments-unhide:hover {
	text-decoration: underline;
}

.comment-index-more {
	border: 1px solid #cccccc;
	background: #ffffff;
	width: 400px;
	padding: 10px;
	margin-left: 105px;
	box-sizing: border-box;
	text-align: center;
}

.comment-index-more:hover {
	background: #eeeeee;
}

.video-index {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	background: #ffffff;
	padding: 15px;
	box-sizing: border-box;
}

.video-index-item {
	display: block;
}

.video-index-item:hover > .video-index-title {
	color: #167ac6;
}

.video-index-thumb {
	float: left;
	width: 120px;
	height: 90px;
	padding: 10px 0;
	margin-right: 5px;
}

.video-index-title {
	display: block;
	font-weight: bold;
	padding-top: 10px;
}

.video-index-username {
	display: block;
	color: #666666;
}

.video-index-views {
	display: block;
	color: #666666;
}

.video-index-more {
	border-top: 1px solid #cccccc;
	padding: 5px 20px;
	width: 370px;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}

.video-index-more:hover {
	color: #000000;
	cursor: pointer;
}
